---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import Baselayout from '../../layouts/Baselayout.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Baselayout title={post.data.title} description={post.data.description}>
    <main>
        <BlogPost {...post.data}>
            <Content />
        </BlogPost>
    </main>
</Baselayout>