---
import Baselayout from "../layouts/Baselayout.astro";
import Nav from "../components/nav.astro";
import Footer from "../components/Footer.astro";

import CV from "/public/CV.png";

---

<Baselayout title="Adrien Lauriere - Portfolio" description="Mon portfolio">
    <Nav />
    <section class="container text-white mx-auto px-4 pt-40 flex-grow z-10 max-w-4xl">
        <div class="mb-16">
          <h2 class="text-5xl font-extrabold text-purple-500 text-center tracking-wide mb-10">
            Mon <span class="text-white">CV</span>
          </h2>
          <img src={CV.src} alt="mon cv">
          </div>
 
    <Footer />
 

</Baselayout>
