<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos - Adrien Lauriere</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="bg-black text-white font-sans"> 
        <div class="max-w-3xl mx-auto">
            <h1 class="text-4xl font-extrabold mb-8">À propos de <span class="text-violet-400">moi</span></h1>  
        <div class="bg-gray-900 rounded-xl p-8 shadow-lg shadow-violet-300/50 mb-8">
             
</body>
</html>