---
import Linkedin from "/public/LinkedinLogo.png";
import Github from "/public/githublogo.png";
import Behance from "/public/behanceLogo.png";
---

<footer class="bg-black text-white">
  <div
    class="text-center px-4 py-4 md:mb-6 hover:-translate-y-1 transition-all duration-300"
  >
    <p class="text-sm md:text-base">
      Sentez-vous libre de me
      <a
        href="mailto:adrienlauriere.pro@gmail.com"
        class="text-violet-400 hover:text-violet-300 inline-flex items-center gap-1 group"
      >
        contacter
        <span class="group-hover:rotate-12 transition-all duration-300">✉️</span
        >
      </a>
      à tout moment !
    </p>
  </div>

  <div class="flex justify-center gap-4 md:gap-6 mb-6 md:mb-8">
    <a
      href="https://github.com/AkiraKs"
      target="_blank"
      class="bg-white rounded-full p-1.5 md:p-2 hover:scale-110 hover:rotate-6 hover:shadow-lg hover:shadow-violet-500/20 transition-all duration-300"
    >
      <img src={Github.src} alt="Mon github" class="w-5 h-5 md:w-7 md:h-7" />
    </a>
    <a
      href="https://www.linkedin.com/in/adrien-lauriere-6b1424259/"
      target="_blank"
      class="bg-white rounded-full p-1.5 md:p-2 hover:scale-110 hover:-rotate-6 hover:shadow-lg hover:shadow-violet-500/20 transition-all duration-300"
    >
      <img
        src={Linkedin.src}
        alt="Mon LinkedIn"
        class="w-5 h-5 md:w-7 md:h-7"
      />
    </a>
    <a
      href="https://www.behance.net/adrienlauriere1"
      target="_blank"
      class="bg-white rounded-full p-1.5 md:p-2 hover:scale-110 hover:rotate-6 hover:shadow-lg hover:shadow-violet-500/20 transition-all duration-300"
    >
      <img src={Behance.src} alt="Mon behance" class="w-5 h-5 md:w-7 md:h-7" />
    </a>
  </div>

  <div
    class="bg-[#2e1365] py-3 md:py-4 hover:bg-[#3a1980] transition-colors duration-300"
  >
    <p class="text-center text-xs md:text-base text-white px-4">
      &copy; 2024 Adrien Lauriere. All rights reserved.
    </p>
  </div>
</footer>
